
/* Font sizes */
$fontSize-12: 12px;
$fontSize-14: 14px;
$fontSize-16: 16px;
$fontSize-18: 18px;
$fontSize-24: 24px;
$fontSize-28: 28px;
$fontSize-46: 46px;


/* Spaces */
$spaceSmall: 16px;
$spaceBig: 32px;

/* Colors */
$yellow: #FFE600;
$darkGray: #333333;
$regularGray: #666666;
$lightGray: #999999;
$superLightGray: #EEEEEE;
$blue: #3483FA;
$white: #FFFFFF;


html{
    background-color: $superLightGray;
    color: $darkGray;
}